<nav class="navbar navbar-default main_menu menu_black">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/main">      	
      	<div class="navbar-brand_container">
      		<div class="">屈尺樂活渡假島</div>
      		<div class="navbar-brand_en">QUCHI RESORT</div>
      	</div>	
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>                                            	
        	<p class="navbar-btn">
            	<a href="/organization" class="btn btn-default btn_menu">組織運作</a>
            </p>  
        </li>  
        <li>    
        <div class="navbar-divider">|</div>
        </li>  
        <li>                                            	
        	<p class="navbar-btn">
            	<a href="/projects" class="btn btn-default btn_menu">島內設施</a>
            </p>  
        </li>
        <li>        	
        	<a href="https://www.facebook.com/QuchiTime/" class="menu_facebook">
				<object type="image/svg+xml" data="/images/facebook_icon.svg" id="facebook_object">
				  Your browser does not support SVG
				</object>
        	</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
/*
$(document).ready(function(){       
   var scroll_start = 0;

   var offset_1 = $('.index_slogan').offset();
   var offset_2 = $('.index_q').offset();
   var offset_3 = $('.index_h').offset();   
   //if (startchange.length){
	   $(document).scroll(function() { 
	      scroll_start = $(this).scrollTop();	 
	      
		   //fb icon      
		   var object = document.getElementById("facebook_object");
		   var svgDoc;
		   try {
		      svgDoc = object.contentDocument;
		   } catch(e) {
		      try {
		         svgDoc = object.getSVGDocument();
		       } catch (e) {
		          alert("SVG in object not supported in your environment");
		       }
		   }
		   if (!svgDoc) return;
		   var svgItem = svgDoc.getElementById("f_1_");	      
	      
	            
	           
	      if( (scroll_start > offset_1.top && scroll_start < offset_2.top) || scroll_start > offset_3.top || scroll_start < offset_1.top) {
	          $(".navbar-default").addClass("menu_black");
			  svgItem.setAttribute("fill", "#000000");                
	       } else if ( (scroll_start > offset_2.top && scroll_start < offset_3.top) )  {
	          $('.navbar-default').removeClass("menu_black");
			  svgItem.setAttribute("fill", "#ffffff");           
	       }
	   });
   //}
});
*/
</script>