<div class="container" style="height: 300px;>
	<div class="row">
		<div class="col-sm-offset-1 col-sm-10 project_quchi">				
			<div class="text-center" style="margin-top: 50px;">
			<span style="font-family: 'Arial'; font-size: 80px;">
				<span style="color: rgb(218, 89, 22);">Q</span>
				<span style="color: rgb(228, 159, 71);">U</span>
				<span style="color: rgb(237, 205, 155);">C</span>
				<span style="color: rgb(213, 241, 138);">H</span>
				<span style="color: rgb(0, 210, 173);">I</span>
			</span>
			</div>
			<div class="text-center" style=" font-size: 45px; letter-spacing: 10px;">	
			發展歷程
			</div>					
		</div>
	</div>
</div>
<div class="parallax-q project_parallax" style="height: 100vh; width: 100%">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 project_quchi">				
				<div class="text-center project_quchi_layer project_quchi_q">
					<div class="project_quchi_container">
						<span class="project_quchi_l">Q</span>
						<span class="project_quchi_s">UESTION</span>					
					</div>
					<div class="project_quchi_ch">問題導向</div>
				</div>			
			</div>
		</div>
	</div>	
</div>
<script>
$('.parallax-q').parallax({imageSrc: '/images/background_bird.jpg'});
</script>
<section class="project_quchi_content_container">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 project_quchi_image" style="background-image: url('/images/project/Q1.jpg'); height: 600px;">							
			</div>
			<div class="col-sm-3">
				<div class="row">	
					<div class="col-sm-12 project_quchi_image" style="background-image: url('/images/project/Q2.jpg');">				
					</div>																
				</div>				
				<div class="row">	
					<div class="col-sm-12 project_quchi_image" style="background-image: url('/images/project/Q3.jpg');">				
					</div>																
				</div>				
			</div>
			<div class="col-sm-6">					
				<div class="project_quchi_content_sub_title">提問討論</div>
				<div class="project_quchi_content_sub_content">搭配 本校 長頸鹿雙月刊徵稿活動， 讓全校 學生 發想「屈尺時光樂 活渡假島」的遊園列車與孩子們想要其他樂設施，成為「自然創客教育實驗課程」與「後木工社團的作參考藍圖 。</div>
				<div class="project_quchi_content_sub_title">鼓勵創造</div>
				<div class="project_quchi_content_sub_content">在打造「投石機 」前，先讓學生用竹筷子與紙箱創造自己想要的 投石機 ，在製作出小型模後，再共同討論較為合適的大投石 機構造與發射方式 ，聚焦討論後收斂成工作計畫 。</div>
				<div class="project_quchi_content_sub_title">專案探究</div>
				<div class="project_quchi_content_sub_content">藉由 專案導向為基礎的學習（ Project -Based Learning ，簡稱： PBL ）教學模式，連結生活、知識 與實踐的自我現， 帶領學生 整合自己各領域學科知識與經驗，發展 「屈尺一號小火車 」、「投 石機 」與「搖馬 」專題。</div>														
			</div>			
		</div>
	</div>	
</section>
<div class="parallax-u project_parallax" style="height: 100vh; width: 100%">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 project_quchi">				
				<div class="text-center project_quchi_layer project_quchi_u">
					<div class="project_quchi_container">
						<span class="project_quchi_l">U</span>
						<span class="project_quchi_s">NIQUE</span>					
					</div>
					<div class="project_quchi_ch">獨特性</div>
				</div>			
			</div>
		</div>
	</div>	
</div>
<script>
$('.parallax-u').parallax({imageSrc: '/images/background_blossom.jpg'});
</script>
<section class="project_quchi_content_container">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">					
				<div class="project_quchi_content_sub_title">在地特色</div>
				<div class="project_quchi_content_sub_content">因本校位於新店溪畔，坐擁廣興濕地、濛濛谷與燕子湖，自然生態環境的資源非常豐富，希望透過「屈尺一號小火車」的導覽解說系統，讓更多人認識屈尺、廣興、烏來與碧潭這些美麗的景點，也希望藉由製作導覽解說程式，讓學生學得自我行銷宣傳的方式，建立居民與自然環境的連結，並且能提升居民的地方意識。</div>
				<div class="project_quchi_content_sub_title">學科理論</div>
				<div class="project_quchi_content_sub_content">結合自然與生活科技領域、社會領域、綜合活動、藝術與人文領域、資訊教育、英語文領域等，整合發展。</div>
				<div class="project_quchi_content_sub_title">遊戲應用</div>
				<div class="project_quchi_content_sub_content">運用Scratch程式與木工玩具結合，藉由Maker創客教育輕鬆接觸整合科學、科技、工程、數學的行動學習課程，孩子能在遊戲中學會做工藝、玩樂中學會寫程式，建構孩子對科技與工程的創意與能力。</div>														
			</div>			
			<div class="col-sm-3">
				<div class="row">	
					<div class="col-sm-12 project_quchi_image" style="background-image: url('/images/project/U1.jpg');">				
					</div>																
				</div>				
				<div class="row">	
					<div class="col-sm-12 project_quchi_image" style="background-image: url('/images/project/U2.jpg');">				
					</div>																
				</div>				
			</div>	
			<div class="col-sm-3 project_quchi_image" style="background-image: url('/images/project/U3.jpg'); height: 600px;">							
			</div>			
		</div>
	</div>	
</section>
<div class="parallax-c project_parallax" style="height: 100vh; width: 100%">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 project_quchi">				
				<div class="text-center project_quchi_layer project_quchi_c">
					<div class="project_quchi_container">
						<span class="project_quchi_l">C</span>
						<span class="project_quchi_s">reator</span>					
					</div>
					<div class="project_quchi_ch">創造者</div>
				</div>			
			</div>
		</div>
	</div>	
</div>
<script>
$('.parallax-c').parallax({imageSrc: '/images/background_blossom_2.jpg'});
</script>
<section class="project_quchi_content_container" style="height: 500px;">
	<div class="container">
		<div class="row">
			<!--
			<div class="col-sm-6">				
				<div class="row">
					<div class="col-sm-6 project_quchi_image" style="background-image: url('/images/project/project_horse.jpg');">				
					</div>
					<div class="col-sm-6 project_quchi_image" style="background-image: url('/images/background_blossom.jpg');">				
					</div>	
				</div>	
				<div class="row">	
					<div class="col-sm-6 project_quchi_image" style="background-image: url('/images/background_mountains.jpg');">				
					</div>
					<div class="col-sm-6 project_quchi_image" style="background-image: url('/images/project/project_catapult.png');">				
					</div>																	
				</div>				
			</div>
			-->
			<div class="col-sm-12">					
				<div class="project_quchi_content_sub_title">分組合作</div>
				<div class="project_quchi_content_sub_content">協助學生藉由參與「屈尺一號小火車」、「投石機」與「搖搖馬」製作過程的經驗，與同學分工、規劃、合作，從事專題創作活動。</div>
				<div class="project_quchi_content_sub_title">邏輯判斷</div>
				<div class="project_quchi_content_sub_content">在木工、縫紉與彩繪的手做過程中發現真實情境的問題，判斷問題發生的原因，找出解決問題的方式，並在Scratch程式設計歷程，培養邏輯判斷的能力。</div>
				<div class="project_quchi_content_sub_title">程式設計</div>
				<div class="project_quchi_content_sub_content">學習開發程式Scratch電腦環境與帳號設定，瞭解電腦在人類生活，如家庭、學校、工作、娛樂及以及各學習領域之應用，進行圖形、影像、文字、動畫、語音的整合應用。</div>														
			</div>			
		</div>
	</div>	
</section>
<div class="parallax-h project_parallax" style="height: 100vh; width: 100%">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 project_quchi">				
				<div class="text-center project_quchi_layer project_quchi_h">
					<div class="project_quchi_container">
						<span class="project_quchi_l">H</span>
						<span class="project_quchi_s">AND-MADE</span>					
					</div>
					<div class="project_quchi_ch">手做</div>
				</div>			
			</div>
		</div>
	</div>	
</div>
<script>
$('.parallax-h').parallax({imageSrc: '/images/background_blossom_3.jpg'});
</script>
<section class="project_quchi_content_container" style="height: 500px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">					
				<div class="project_quchi_content_sub_title">戶外攝影</div>
				<div class="project_quchi_content_sub_content">讓學生實地帶著單眼相機到校園內、社區附近、烏來區與碧潭等景點，拍攝小火車導覽系統與搖搖馬遊戲設計所需之照片資料。</div>
				<div class="project_quchi_content_sub_title">電子電路</div>
				<div class="project_quchi_content_sub_content">安裝電子偵測元件、電子感應控制板、電控介面、電控套件，並學習微調電子感應介面與平板電腦的相容性。</div>
				<div class="project_quchi_content_sub_title">木工製作</div>
				<div class="project_quchi_content_sub_content">使用鋸子、線鋸機、帶鋸機、木工膠與其他材料，組裝舊課桌椅、竹子、松木原木、五金零件，完成「投石機」、「屈尺一號小火車」與「搖搖馬」本體組裝。</div>														
			</div>				
		</div>
	</div>	
</section>
<div class="parallax-i project_parallax" style="height: 100vh; width: 100%">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-1 col-sm-10 project_quchi">				
				<div class="text-center project_quchi_layer project_quchi_i">
					<div class="project_quchi_container">
						<span class="project_quchi_l">I</span>
						<span class="project_quchi_s">NTEGRATION</span>					
					</div>
					<div class="project_quchi_ch">整合</div>
				</div>			
			</div>
		</div>
	</div>	
</div>
<script>
$('.parallax-i').parallax({imageSrc: '/images/background_blossom_4.jpg'});
</script>
<section class="project_quchi_content_container" style="height: 800px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">				
				<div class="row">
					<div class="col-sm-6 project_quchi_image" style="height: 250px; background-image: url('/images/project/I1.png');">				
					</div>
					<div class="col-sm-6 project_quchi_image" style="height: 250px; background-image: url('/images/project/I2.jpg');">				
					</div>	
				</div>	
				<div class="row">	
					<div class="col-sm-6 project_quchi_image" style="height: 250px; background-image: url('/images/project/I3.jpg');">				
					</div>
					<div class="col-sm-6 project_quchi_image" style="height: 250px; background-image: url('/images/project/I4.jpg');">				
					</div>																	
				</div>	
				<div class="row">	
					<div class="col-sm-6 project_quchi_image" style="height: 250px; background-image: url('/images/project/I5.jpg');">				
					</div>
					<div class="col-sm-6 project_quchi_image" style="height: 250px; background-image: url('/images/project/I6.jpg');">				
					</div>																	
				</div>							
			</div>
			<div class="col-sm-6">					
				<div class="project_quchi_content_sub_title">投石機</div>
				<div class="project_quchi_content_sub_content">利用地下室暗無天日的課桌椅製作投石機的本體，到社區中採集竹子成為投石機的發射桿，並由家長協同縫紉製作投石機的砲彈，成為學校與社區運動會時的親子趣味競賽項目，引導學生對於社區的重視、認同與愛護，建立學生與自然環境的連結，提升地方意識。完成投石機本體後再加上平板電腦量角器APP，測量不同發射角度及彈力繩數量可以投射出的距離，成為Scratch程式內容。</div>
				<div class="project_quchi_content_sub_title">小火車</div>
				<div class="project_quchi_content_sub_content">先從全校徵稿開始，了解學生心目中的小火車圖像，結合電動車與舊課桌椅，打造「屈尺一號小火車」，再結合藝術與人文攝影課程，拍攝屈尺、烏來與新店三站的景點，使用Scratch製作導覽系統，介紹孩子們所認識的景點給大家。</div>
				<div class="project_quchi_content_sub_title">搖搖馬</div>
				<div class="project_quchi_content_sub_content">帶著高年級木工社團的學生，操作大型木工機具，製作樂活渡假島的遊樂設施，使用舊學生椅及幼兒園的學生座椅，連接藍芽裝置與平板電腦，讓搖搖馬在搖動的過程中，可以從屈尺搖到新店與烏來等景點，讓學生在遊戲中學會做工藝、玩樂中學會寫程式。</div>														
			</div>			
		</div>
	</div>	
</section>