<section class="project_resource">
	<div class="container">
		<div class="row" style="margin-top: 30px;">	
			<div class="text-center">
				<div class="project_resource_ch"><span style="font-family: 'Arial'">QUCHI</span>軟硬體應用</div>
				<div class="project_resource_en">RESOURCES APPLICATION</div>				
			</div>			
		</div>				
		<div class="row" style="margin-top: 30px;">			
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				    <!-- Indicators -->
				    <!--
				    <ol class="carousel-indicators">	
				      	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				       	<li data-target="#myCarousel" data-slide-to="1"></li> 
				       	<li data-target="#myCarousel" data-slide-to="2"></li>
				    </ol>
				    -->				    
				    <div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="carousel-content">
							   <div class="col-sm-6">
							   		<div style="background: rgb(218, 89, 22); padding: 20px; padding-bottom: 30px;">
										<div class="project_resource_slider_large_title">
										 Q		      	
										 </div>	    
										 <div class="project_resource_slider_small_title">
										 UESTIONS	      	
										 </div>
										<div class="project_resource_s_title">
											軟體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Software </span>
										</div>										 
										 <div class=" text-left" style="background: rgba(255, 255, 255, 0.5); margin-top: 20px;">
         									<img src="/images/apps/google.png" class="project_resource_app">	
   									 	    <img src="/images/apps/educate.jpg" class="project_resource_app" style="height: 60px">	
   									 	    <img src="/images/apps/kahoot.png" class="project_resource_app">	
   									 	    <img src="/images/apps/star.png" class="project_resource_app">		
   									 	    <img src="/images/apps/magnifier.png" class="project_resource_app">												 
										 </div>										 
										 <div class="project_resource_s_title">
											硬體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Hardware </span>
										 </div>										 
										 <div class="project_resource_hardware text-center">
      									 	<div>雙鏡單眼相機</div>
      									 	<div>互動式電子白板</div>
      									 	<div>個人電腦</div>
      									 	<div>學生用載具</div>
      									 	<div>教師用AP</div>	
										 </div>											 											 										      	      	  	
									</div>	
								</div>		
								<div class="col-sm-6">	
							   		<div style="background: rgb(228, 159, 71); padding: 20px; padding-bottom: 30px;">
										<div class="project_resource_slider_large_title">
										 U		      	
										 </div>	    
										 <div class="project_resource_slider_small_title">
										 NIQUE	      	
										 </div>
										<div class="project_resource_s_title">
											軟體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Software </span>
										</div>										 
										 <div class=" text-left" style="background: rgba(255, 255, 255, 0.5); margin-top: 20px;">
         									<img src="/images/apps/google.png" class="project_resource_app">	
   									 	    <img src="/images/apps/google_drives.png" class="project_resource_app">	
      									 	<img src="/images/apps/gmail.png" class="project_resource_app">   									 	    
      									 	<img src="/images/apps/youtube.png" class="project_resource_app">  
           									<img src="/images/apps/recorder.png" class="project_resource_app">   									 	
										 </div>										 
										 <div class="project_resource_s_title">
											硬體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Hardware </span>
										 </div>										 
										 <div class="project_resource_hardware text-center">
      									 	<div>雙鏡單眼相機</div>
      									 	<div>互動式電子白板</div>
      									 	<div>個人電腦</div>
      									 	<div>學生用載具</div>
      									 	<div>教師用AP</div>	
										 </div>										 										      	      	  	
									</div>	
								</div>	
							</div>      	
						</div>		
						<div class="item">
							<div class="carousel-content">
							   <div class="col-sm-6">
							   		<div style="background: rgb(237, 205, 155); padding: 20px; padding-bottom: 30px; color: #000000">
										<div class="project_resource_slider_large_title">
										 C		      	
										 </div>	    
										 <div class="project_resource_slider_small_title" style="color: #000000">
										 REATORS	      	
										 </div>	
										<div class="project_resource_s_title" style="color: #000000">
											軟體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Software </span>
										</div>										 
										 <div class=" text-left" style="background: rgba(255, 255, 255, 0.5); margin-top: 20px;">
         									<img src="/images/apps/google.png" class="project_resource_app">	
   									 	    <img src="/images/apps/google_drives.png" class="project_resource_app">	
      									 	<img src="/images/apps/google_maps.png" class="project_resource_app">   									 	    
      									 	<img src="/images/apps/pic.png" class="project_resource_app">  
           									<img src="/images/apps/athome_camera.png" class="project_resource_app"> 
										 </div>										 
										 <div class="project_resource_s_title" style="color: #000000">
											硬體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Hardware </span>
										 </div>										 
										 <div class="project_resource_hardware text-center" style="color: #000000">
      									 	<div>雙鏡單眼相機</div>
      									 	<div>互動式電子白板</div>
      									 	<div>個人電腦</div>
      									 	<div>學生用載具</div>
      									 	<div>教師用AP</div>	
										 </div>										 									      	      	  	
									  </div>	
								</div>		
								<div class="col-sm-6">	
							   		<div style="background: rgb(213, 241, 138); padding: 20px; padding-bottom: 30px;">
										<div class="project_resource_slider_large_title" style="color: #000000">
										 H		      	
										 </div>	    
										 <div class="project_resource_slider_small_title" style="color: #000000">
										 AND MADE	      	
										 </div>	
										<div class="project_resource_s_title" style="color: #000000">
											軟體<span style="font-family: 'Arial'; letter-spacing: 1px; color: #000000""> Software </span>
										</div>										 
										 <div class=" text-left" style="background: rgba(255, 255, 255, 0.5); margin-top: 20px;">
         									<img src="/images/apps/google_drives.png" class="project_resource_app">	
   									 	    <img src="/images/apps/google_maps.png" class="project_resource_app">	
   									 	    <img src="/images/apps/scratch.png" class="project_resource_app">	
   									 	    <img src="/images/apps/book_creator.png" class="project_resource_app">		
   									 	    <img src="/images/apps/smart_protractor.png" class="project_resource_app">												
										 </div>										 
										 <div class="project_resource_s_title" style="color: #000000">
											硬體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Hardware </span>
										 </div>										 
										 <div class="project_resource_hardware text-center" style="color: #000000">
      									 	<div>雙鏡單眼相機</div>
      									 	<div>互動式電子白板</div>
      									 	<div>個人電腦</div>
      									 	<div>學生用載具</div>
      									 	<div>教師用AP</div>	
										 </div>										 									      	      	  	
									  </div>	
								</div>	
							</div>      	
						</div>

						<div class="item">
							<div class="carousel-content">
							   <div class="col-sm-6">
							   		<div style="background: rgb(0, 210, 173); padding: 20px; padding-bottom: 30px;">
										<div class="project_resource_slider_large_title">
										 I		      	
										 </div>	    
										 <div class="project_resource_slider_small_title">
										 UESTIONS	      	
										 </div>		
										<div class="project_resource_s_title">
											軟體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Software </span>
										</div>										 
										 <div class=" text-left" style="background: rgba(255, 255, 255, 0.5); margin-top: 20px;">
   									 	    <img src="/images/apps/google_drives.png" class="project_resource_app">	
   		   									<img src="/images/apps/scratch.png" class="project_resource_app">								 	    
   									 	    <img src="/images/apps/logo.jpg" class="project_resource_app">	
   									 	    <img src="/images/apps/adobe.jpg" class="project_resource_app">	
   									 	    <img src="/images/apps/smart_protractor.png" class="project_resource_app">																						 	
										 </div>										 
										 <div class="project_resource_s_title">
											硬體<span style="font-family: 'Arial'; letter-spacing: 1px; "> Hardware </span>
										 </div>										 
										 <div class="project_resource_hardware text-center">
      									 	<div>雙鏡單眼相機</div>
      									 	<div>互動式電子白板</div>
      									 	<div>個人電腦</div>
      									 	<div>學生用載具</div>
      									 	<div>教師用AP</div>	
										 </div>										 								      	      	  	
									  </div>	
								</div>		
								<div class="col-sm-6">	
								</div>	
							</div>      	
						</div>								
				    </div>	
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				</a>
			</div>
		</div>		
		<div class="row" style="margin-top: 30px;">	
			<div class="text-center" style="position: relative">
				<div class="project_resource_block" id="project_resource_block_1"></div>
				<div class="project_resource_block" id="project_resource_block_2"></div>
				<div class="project_resource_block" id="project_resource_block_3"></div>
				<div class="project_resource_block" id="project_resource_block_4"></div>
				<div class="project_resource_block" id="project_resource_block_5"></div>							
			</div>			
		</div>				
	</div>
</section>