<div class="video-background" id="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/xXfnKBW0LVk?controls=0&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <!--
	<div id="vidtop-content">
	<div class="vid-info">
		  <h1>DEMO</h1>
		  <p>彈珠檯是Windows 內置的一款經典遊戲，由Windows NT 起就內建於系統內，但由Vista 開始，Microsoft 就把彈珠檯抽起，令這個昔日常玩的遊戲</p>
	  </div>
	</div>
	-->
</div>

